@font-face {
    font-family: "pixel";
    src: url("resources/pixel.ttf") format("truetype");
}

* {
    font-family: "pixel";
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.fullsize {
    width: 100%;
    height: 100%;
}

#gamearea {
    float: left;
    display: block;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #eee;
    background-image: url("images/fangornbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    min-height: 600px;
    min-width: 600px;
    max-height: 800px;
    max-width: 800px;
    width: 80%;
    height: 80%;
    padding: 3%;
}

#wrapper {
    position: relative;
}

#situationDiv {
    box-sizing: border-box;
    position: relative;
    margin: auto;
    padding: 10px;
    width: 80%;
    height: 200px;
    background-color: rgba(181,114,29,0.75);
    border: 5px ridge #e07d3e;
    overflow: scroll;
}

#artDiv {
    box-sizing: border-box;
    width: 50%;
    max-height: 400px;
    margin: 10px auto;
}

#optionsMenu {
    display: block;
    position: absolute;
    margin: auto;
    width: 100%;
    bottom: 0px;
}

#optionsMenu * {
    display: block;
    box-sizing: border-box;
    margin: 5px auto;
    width: 60%;
    border: 2px solid #e07d3e;
    padding: 10px 24px;
}

#optionsMenu textarea {
    text-align: center;
    resize: none;
}

button {
    background-color: #b5721d;
    color: white;
    cursor: pointer;
    padding: 10px;
}

button:hover {
    background-color: #e07d3e;
}

#restartButton{
    display: block;
    position: relative;
    margin: auto;
    top: 40px;
}

/* #optionsMenu button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
} */